.features {
  background-color: $dark__bg;
  height: 680px;
  &__box {
    padding-top: 140px;
    display: flex;
    column-gap: 125px;
  }
  &__content {
    margin-left: 0;
    display: flex;
    row-gap: 54px;
    flex-direction: column;
    width: 445px;
  }
  &__line {
    width: 50px;
    height: 4px;
    background-color: $red__color;
  }
  &__title {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #ffffff;
  }
  &__list {
    display: flex;
    flex-direction: column;
    column-gap: 23px;
    row-gap: 32px;
  }
  &__item {
    display: flex;
    column-gap: 24px;
  }
  &__flex {
    width: 445px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__subtitle {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: $red__color;
  }
  &__text {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
  }
}
