.start {
  margin-top: 150px;

  background-color: $red__color;
  &__box {
    padding-top: 76px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
  }
  &__title {
    width: 504px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012f34;
  }
  &__button {
    width: 153px;
    @include button;
    border: 2px solid #012f34;
    color: #012f34;
  }
}
